<?xml version="1.0"?>
<launch>
  <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node"/>
  <node pkg="image_view" type="image_view" name="car_camera" output="screen">
    <param  name="window_name" value="Car camera"/>
    <remap from="image" to="/image_color_bgr8"/>
  </node>
</launch>
